body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202b49;
    /* fundo escuro */
    margin: 0;
}


.container {
    background: rgba(48, 57, 77, 0.85);
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(1, 18, 95, 0.4);
    width: 100%;
    max-width: 400px;
    margin: auto;
    color: #f1f5f9;
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #cdd4dd;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #fdfdfd;
    color: #f1f5f9;
    font-size: 14px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #062d64;
    color: #f1f5f9;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #101929;
}
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #1e293b; /* fundo azul escuro */
  color: #f1f5f9;             /* texto claro */
  font-size: 14px;
  outline: none;
  appearance: none;           /* remove estilo padrão do navegador */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover {
  background-color: #334155; /* tom mais claro ao passar o mouse */
}

select:focus {
  border: 1px solid #64748b; /* borda cinza ao focar */
  background-color: #1e293b;
}
option {
  background-color: #1e293b; /* fundo azul escuro */
  color: #f1f5f9;             /* texto claro */
}
.form-group {
  position: relative;
}

.form-group select {
  padding-right: 30px;
}

.form-group::after {

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  pointer-events: none;
}
@media (max-width: 500px) {
    .container {
        padding: 25px;
        border-radius: 15px;
    }

    .container h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}